:root {
    --very-dark-bg: #09062A;
    --light-color: #ffffff;
    --dark-bg: #25215A;
    --dark-blue: #3B3677;
    --placeholder: #8883CC;
}


.background-dark{
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 70%;
    gap: 1%;
    height: 20%;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@500&family=Source+Code+Pro&display=swap');


h1  {
    color: var(--light-color);
    font-family: 'kanit', sans-serif;
    font-size: 3em;
}
h2 {
    color: var(--light-color);
    font-family: 'kanit', sans-serif;
    font-size: 2.7em;
  }
  
h3{
    color: var(--light-color);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5em;
  }
  
p {
    color: #999;
    font-family: 'Roboto', sans-serif;
  }
  

  @media (max-width: 950px) {
    h1  {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
      }
      
    h3{
        font-size: 0.7em;
      }
}
  