@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@500&family=Source+Code+Pro&display=swap');


:root {
    --very-dark-bg: #09062A;
    --light-color: #ffffff;
    --dark-bg: #25215A;
    --dark-blue: #3B3677;
    --placeholder: #8883CC;
}


.background-dark{
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 70%;
    gap: 1%;
    height: 20%;
}

@media (max-width: 1550px) {
  .row_profile {
    flex-direction: column;
  }

  .minibox{
    width: 96% !important;
  }

}



h1  {
    color: var(--light-color);
    font-family: 'kanit', sans-serif;
    font-size: 3em;
}
h2 {
    color: var(--light-color);
    font-family: 'kanit', sans-serif;
    font-size: 2.7em;
  }
  
h3{
    color: var(--light-color);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5em;
  }
  
p {
    color: #999;
    font-family: 'Roboto', sans-serif;
  }
  

  @media (max-width: 950px) {
    h1  {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
      }
      
    h3{
        font-size: 0.7em;
      }

    .minibox{
      height: auto !important;
      width: 110% !important;
    }
}
  

/* performance and badges */

.minibox{
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-items: center;
  width: 50%;
  height: 45vh;
  background-color: var(--dark-blue);
  margin-left: 0px;
}

hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0,0,0,.1);
  margin-inline-start: 10px;
    margin-inline-end: 10px;
}

