.form {
    display: none; 
    background-color: var(--dark-blue);
    height: 80vh;
    width: 80vw;
    position: fixed;
    z-index: 9999; 
    top: 5vh;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  .center{
    margin-top: 5%;
  }

  .form-show {
    display: block;
  }
  .open-form-button {
    background-color: var(--dark-blue) ;
    height: 25px;
    border: 1px var(--very-dark-bg) solid;
    text-align: center;
    text-decoration: none;
  }
  .open-form-button:hover {
    cursor: pointer;
  }
  .form-close-button {
    display: none;
    float: right;
    width: 50px;
    height: 50px;
    z-index: 1; 
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--very-dark-bg);
  }
/********************************/

.user_container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 45vh;
    background-color: var(--dark-blue);
}

.user_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.padding60 {
    padding-top: 60px;
}

.user_img {
    padding: 10px 30px 10px 30px;
    width: 150px;
    height: 150px;
}


.lilla {
    color: var(--placeholder);
}

.bio {
    padding: 0px 30px 10px 30px;
}

.spostati {
    margin-left: 20%;
}

.user_icons {
    padding-right: 10px;
    width: 40px;
    height: 40px;
}

  @media screen and (max-width: 950px) {
    
    .spostati {
        padding: 30px;
        margin-left: 0%;
    }

    .user_img {
        padding: 5px;
        width: 150px;
        height: 150px;
    }
    
    .user_container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        background-color: var(--dark-blue);
    }

    .user_col{
        flex-direction: column!important;
    }
    .user_row {
        align-items: center;
    }

    .mobileonly{
        margin: 10px;

    }
    .padding60 {
        padding-top: 10px;
    }
  }

  @media screen and (max-width: 550px) {

    .user_img {
        padding: 5px;
        width: 70px;
        height: 70px;
    }
    

  }