
.footer_container{
    background-color: #09062A;
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
 
}

@media screen and (max-width: 850px) {
    .footer_container{
        height: 75vh;
    }
}

.footer_top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.footer_top div{
    width: 20em;
}

.footer_col{
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.footer_row{
    gap: 1.5em;
    display: flex;
    flex-direction:row;
    align-items: center;
}