@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@500&family=Source+Code+Pro&display=swap');


nav{
    background-color: #09062A;
    height: 5.5rem;
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav_logo{
    margin-left: 16%;
}

.nav_right{
    display: flex;
    margin-left: 30%;
}

/* Tablet */
@media screen and (max-width: 1250px) {
    
    .nav_logo{
        margin-left: 10%;
    }
    
    .nav_right {
        margin-left: 10%;
    }

  }

/* Mobile */
  @media screen and (max-width: 850px) {
    
    .nav_logo{
        margin-left: 3%;
    }
    
    .nav_right {
        margin-right: 30%;
        margin-left: 25%;
    }

    .nav_mobilebutton{
        display: block!important;
    }

    .nav_button{
        margin-right: 10px;
    }

    .nav_passcontainer,.nav_input, .nav_passcontainer a{
        display: none;
    }

  }


.nav_input{
    margin: 1rem 0.5rem 0rem 0.5rem;
    text-align: left;
    height: 1.8rem;
    width: 14rem;
}

.nav_container{
    display: flex;
    align-items: center;
}

.nav_passcontainer{
    display: flex;
    flex-direction: column;
}

.nav_passcontainer a{
    margin-left: 10px;
    margin-top: 5px;
    color: #999;
    text-decoration: none;
    font-size: 14px;
}

.nav_button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 5px;
    font-family: 'Kanit', sans-serif;
    background-color: #9842F4;
    color: white;
    height: 38px;
    width: 90px;
    font-size: 20px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1px;
}

.nav_mobilebutton{
    display: none;
    background-color: #FFBE06;
    color: #000000;
    margin-bottom: 5px;
    font-family: 'Kanit', sans-serif;
    height: 38px;
    width: 90px;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 1px;
}